
#define   H_MENU      100
#define    ICON_1      101
#define     STRING_1     102
//..........................................................................
//..........................................................................
ICON_1   ICON  ".\\RESOURCE\\Antelope.ICO"
//..........................................................................
STRINGTABLE  
{
     STRING_1  ,    "Строка ресурс"   
}    
//..........................................................................
H_MENU   MENU
{
//-----
     POPUP   "FILE"
     {
             MENUITEM   "Верхний Регистр", 1
             MENUITEM   "Нижний Регистр", 2
     }
     //'========
     POPUP   "SERVIS"
     {
             MENUITEM  "Exit" , 3
     }    
//-----     
}


