
#define    ICON_1      101
#define    ICON_2      102
//..........................................................................
//..........................................................................
ICON_1   ICON  ".\\RESOURCE\\Antelope.ICO"
ICON_2   ICON  ".\\RESOURCE\\Plus.ICO"
//..........................................................................




